<Settings>
<connectionstring>jdbc:oracle:thin:@192.168.58.128:1521:kohtopa</connectionstring>
<username>Simon</username>
<password>Lips</password>
<savePass>true</savePass>
<confirmDeleteBuildings>true</confirmDeleteBuildings>
<confirmDeletePictures>true</confirmDeletePictures>
<confirmDeleteRentables>true</confirmDeleteRentables>
<confirmDeleteTasks>true</confirmDeleteTasks>
<confirmDeleteInvoices>true</confirmDeleteInvoices>
<confirmDeleteFloors>true</confirmDeleteFloors>
</Settings>
